/* The hero image */
.hero {
    background-image: url("/images/img/hero-img.jpeg");
  
    /* Set a specific height */
    height: 80vh;
    width: 85%;
    align-content: center;
    margin-top: 23rem;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: auto;
  
    border-radius: 35px;
}

/* Place text in the middle of the image */
.text {
    text-align: center;
    /* position: relative; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    position: absolute;
}

@media (max-width: 600px) {
    .hero {
        border-radius: 0;
        width: 100%;
    }
}